* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 "Roboto", sans-serif;
  color: #4c4c4c;
  background: #f6f7f7;
  padding-bottom: 3em;
  margin: 0;
}

.carouselMain {
  width: 100%;
}

.titleSearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.title {
  font-size: 1.5em;
  font-weight: bolder;
}

.carouselItem {
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: #000;
}

.carouselItem img {
  margin: auto;
  width: auto;
  max-height: 500px;
}

@media screen and (max-width: 767px) {
  .titleSearchContainer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .carouselItem img {
    margin: auto;
    width: auto;
    max-height: 200px;
  }
}
